<footer class="footer">
    <div class="container">
        <div class="footer-logo-container">
            <a class="logo link" href="./index.html">Міміно</a>
        </div>
        <div class="footer-nav-container">
            <ul class="footer-site-nav__list list">
                <li class="footer-site-nav__item"><a href="./index.html" class="footer-site-nav__link link">Головна</a>
                </li>
                <li class="footer-site-nav__item"><a href="./restaurant.html"
                        class="footer-site-nav__link link">Ресторан</a>
                </li>
                <li class="footer-site-nav__item link"><a href="./hotel.html"
                        class="footer-site-nav__link link">Готель</a>
                </li>
            </ul>
        </div>
        <div class="footer-net-container">
            <ul class="footer-net__list list">
                <li class="footer-net__item">
                    <a href="" class="footer-net__link"><svg class="social-list__icon" width="24" height="24">
                            <use href="./images/symbol-defs.svg#icon-instagraml"></use>
                        </svg></a>
                </li>
                <li class="footer-net__item">
                    <a href="" class="footer-net__link"><svg class="social-list__icon" width="24" height="24">
                            <use href="./images/symbol-defs.svg#icon-facebook"></use>
                        </svg></a>
                </li>
                <li class="footer-net__item">
                    <a href="" class="footer-net__link"><svg class="social-list__icon" width="24" height="24">
                            <use href="./images/symbol-defs.svg#icon-telegram"></use>
                        </svg></a>
                </li>
            </ul>
        </div>
    </div>
</footer>