<header class="header">
    <div class="container">
        <nav class="header-site-nav">
            <div class="header-logo-container">
                <a class="logo-header link" href="./index.html">Міміно</a>
            </div>
            <div class="header-nav-container">
                <ul class="header-site-nav__list list">
                    <li class="header-site-nav__item"><a href="./restaurant.html"
                            class="header-site-nav__link link">Ресторан</a>
                        <a class="header-site-nav__phone link" href="tel:+0955559533">
                            <svg class="contacts-list__logo" width="24" height="24">
                                <use href="./images/symbol-defs.svg#icon-phone"></use>
                            </svg><span class="header-site-nav__number">095 555 95 33</span>
                        </a>
                    </li>
                    <li class="header-site-nav__item link"><a href="./hotel.html"
                            class="header-site-nav__link link">Готель</a>
                        <a class="header-site-nav__phone link" href="tel:+380961111111">
                            <svg class="contacts-list__logo" width="24" height="24">
                                <use href="./images/symbol-defs.svg#icon-phone"></use>
                            </svg>
                            <span class="header-site-nav__number">066 849 10 89</span>
                        </a>
                        <a class="header-site-nav__phone link" href="tel:+380961111111">
                            <span class="header-site-nav__number">067 275 85 40</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>